body {
  /* background-image: url('/static/bg_netflix.png'); */
  background-color: aliceblue;
  min-height: 100vh;
}

.section {
  padding: 50px 0;
  max-width: 750px;
  margin: auto;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  padding: 50px 0px;
  text-align: center;
}

.box {
  max-width: 800px;
  margin: 0 auto;
  border: 2px solid black;
}

button {
  width: 100px;
}

.title {
  font-weight: 800;
  font-size: 5rem;
}

.subtitle {
  font-size: 2rem;
}

.is-netflix {
  color: black !important;
}

.hero {
  background-color: rgba(229, 9, 20) !important;
}