<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Netflix Comment | 홈</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">

    <!-- css -->
    <link rel="stylesheet" href="../static/home.css">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <!-- Favicon -->
    <link rel="icon" href="../static/Netflix-logo.png">

    <!-- Script -->
    <script type="text/javascript">
        const clickedBookmark = () => {
            {#$('#bookmark svg').css('fill', '#FCC400');#}
            alert('즐겨찾기에 추가되었습니다.')
        }

    </script>

</head>
<body>

<!-- 로고 -->
<header>
    <div class="inner">
        <a href="./home.html" class="logo">
            <img src="../static/Netflix-logo.png" alt="logo">
        </a>
    </div>
</header>

<!-- 타이틀 -->
<h2 class="title">
    모든 컨텐츠
</h2>

<!-- 그리드 -->
<section class="section">
    <div class="container">
        <div class="grid">
            <!-- Movie Poster -->
            {% for img in movie_image %}
                <div class="col">
                    <a href={{ movie_href[loop.index - 1] }}>
                        <img src={{ movie_image[loop.index - 1] }}>
                        <div class="movie_title">
                            {{ movie_title[loop.index - 1] }}
                        </div>
                    </a>
                    <!-- Bookmark -->
                    <div id="bookmark" onclick="clickedBookmark()">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <g id="icomoon-ignore"></g>
                            <path d="M96 0v512l160-160 160 160v-512z"></path>
                        </svg>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- 타이틀 -->
<h2 class="title">
    즐겨찾기
</h2>

</body>
</html>